{
    "parser": "@babel/eslint-parser",
    "rules": {
      "indent": ["error", "tab"],
      "no-tabs": ["error", {"allowIndentationTabs": true}]
    },
    "globals": {
      "window": true
    },
    "extends": "airbnb",
    "parserOptions": {
      "ecmaVersion": 8,
      "requireConfigFile": false
    },
    "env": {
      "browser": true
    }
}
